.App {
  width:auto;
  height:100vh;
  text-align: center;
  display:flex;
  align-items:center;
  flex-direction: column;
  font-family: 'Bahianita', cursive;

  background:
  linear-gradient(135deg, #708090 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
  linear-gradient(225deg, #708090 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
  background-color:#708090;
  background-size: 64px 128px;
}
#ascii{
  font-size: 12vw;
  margin: auto 0;
  transition: all 200ms ease-in;
  border-radius:50%;
  background-color:white;
}